#body{
    background-color: black;
}
.regInput{
    margin-left: 157px;
}
.logBt{
    margin-top: 10px;
}

.logIn{
    margin-left: 180px;
    margin-right: 46px;
}
#pInt{
    margin-left: 619px;
    margin-bottom: 25px;
}
h1,h2,h3,h4,h5,h6,p,label{
    color: white;
}
.resH   {
    list-style: none;
}
.pname{
    font-size: 24px;
}
textarea {
    resize: both;
    overflow: auto;
}
.pinput{
    width:267px;
}

.newB{
    border: 1px solid black;
}
div img{ display: inline-block;}
.fontB{
    font-weight: bold;
}
.bd1{
    width: 410px;
}
.subBt2{
    margin-top: 10px;
}
.bDetails   {
    border: 6px solid white;
    border-style:ridge;
    width: 523px;
    margin-top: 26px;
}
.sign2{
    margin-top: -19px;
    width: 625px;
}
.delBt  {
    margin-bottom: -237px;
}
.ptag   {
    margin-left: -68px;
}
.pinB{
    margin-top: 16px;
}
.entP{
    margin-left: 119px;
}
