<div class="container-fluid" >
    <div class="row">
        <div class="col-md-4 entP">

            <h2 ng-show="gc.status.username !== null" class="sign1 animated fadeInUp">Enter Pin Info</h2><br>
            <h2 ng-hide="gc.status.username !== null">Login to add a PIN to the <span style="font-weight:bold;font-size:35px">{{vm.board.name}}</span> PinBoard </h2>
            <form ng-show="gc.status.username !== null" role="form" ng-submit="vm.addPin()">
                <div class=" bd1 animated fadeInUp">
                    <div class="form-group">
                        <label>Title</label>
                        <div class="input-group">
                            <input type="text" ng-model="vm.pin.title" class="form-control"   placeholder="Title">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label >Description</label>
                        <div class="input-group">
                            <input type="text" ng-model="vm.pin.description" class="form-control"   placeholder="Description" >
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label >Picture URL</label>
                        <div class="input-group">
                            <input name="url" class="form-control" ng-model="vm.pin.picture" placeholder="picture" >

                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div><br>
                    <input type="submit" name="submit" id="submit" value="Submit" class="form-control btn btn-info pull-right btn-block">
                </div>
            </form>
        </div>
        <div class="col-md-1">

        </div>

        <div class="col-md-7 bDetails">
            <h2>{{vm.board.name}}</h2>
            <h5><span class="fontB animated fadeInLeftBig">Submitted by:</span> <span class="animated fadeInRightBig">{{vm.board.createdBy.username}}</span><span> <h5 style="display: inline-block"><span class="fontB animated fadeInLeftBig">Contact:</span>  <span class="animated fadeInRightBig">{{vm.board.createdBy.email}}</span></h5></span></h5>

            <img style="height:250px;width:250px" class="animated rollIn" ng-src="{{vm.board.picture}}" alt="" /><br><br>

            <div class="pinB"  ng-repeat="c in vm.board.pins">
                <h4 >{{c.title}}</h4>
                <a href="/boardDetails/{{b._id }}"><img  class="thumbnail animated rollIn" style="height:250px;width:250px; display:inline-block" ng-src="{{c.picture}}" alt="" /></a>
                <button  style="margin-top:-43px"  ng-show="gc.status.username == c.createdByUsername || gc.status.username == vm.board.createdBy.username" class="btn btn-info btn-danger delBt" type="button" ng-click="vm.deletePin(c)">Delete</button><br>

                <p class="ptag" style="display:inline-block"><em>{{c.description}}</em></p><br>
                <p class="ptag" style="display:inline-block"><em>By: {{c.createdByUsername}}</em></p><br><br>

            </div><br><br>
        </div>
    </div>
</div>
