
<div class="container ">
    <div class="">
        <h3 class="hmain"><span class="animated fadeInLeftBig">Create your </span><span class="animated fadeInRightBig">Pinboard here</span></h3><br><br>
    </div>
    <div class="row">
        <div class="col-md-3"></div>

        <form role="form" ng-submit="vm.createBoard()">
            <div class="col-lg-3 sign2 animated fadeInUp">
                <!-- <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div> -->
                <div class="form-group">
                    <h2>Post your board</h2>
                    <div class="input-group pinput">
                        <textarea type="text" ng-model="vm.board.name" class="form-control"  id="InputName" placeholder="Pinboard" ></textarea>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label >Picture URL</label>
                    <div class="input-group">
                        <input name="url" class="form-control" ng-model="vm.board.picture" placeholder="picture" >

                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <input type="submit" id="submit" value="Post Pinboard" class="btn btn-info btn-block pull-left pinbutton">
            </div>
        </form>


    </div>
</div>
